@charset "UTF-8";
@import url(normalize.css);
@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("NotoSans"), url("../fonts/Notosansdisplayregular.woff2") format("woff2"), url("../fonts/Notosansdisplayregular.woff") format("woff"), url("../fonts/Notosansdisplayregular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "NotoSans Semibold";
  font-style: normal;
  font-weight: 600;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("NotoSans semibold"), url("../fonts/Notosansdisplaysemibold.woff2") format("woff2"), url("../fonts/Notosansdisplaysemibold.woff") format("woff"), url("../fonts/Notosansdisplaysemibold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "NotoSans Light";
  font-style: normal;
  font-weight: 300;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("NotoSans CondensedLight"), url("../fonts/Notosansdisplaycondensedlight.woff2") format("woff2"), url("../fonts/Notosansdisplaycondensedlight.woff") format("woff"), url("../fonts/Notosansdisplaycondensedlight.ttf") format("ttf");
  font-display: swap;
}

/* primary color styles */
/* text color styles */
/* fonts set */
.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "NotoSans", Roboto, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #0c0c0d;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .body {
    font-size: 18px;
  }
}

@media (min-width: 1150px) {
  .body {
    font-size: 20px;
  }
}

ul {
  list-style: none;
}

h1, h2, h3,
h4, h5, h6,
p, ul, li {
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.layout-positioner {
  width: 100%;
  margin: 0;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .layout-positioner {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1150px) {
  .layout-positioner {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
  }
}

.header {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-family: "NotoSans", Roboto, Helvetica, sans-serif;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.header__phone-link {
  margin: 0;
  padding: 0;
  font-family: "NotoSans", Roboto, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .header__phone-link {
    font-size: 18px;
  }
}

@media (min-width: 1150px) {
  .header__phone-link {
    font-size: 20px;
  }
}

/* title styles */
.title {
  margin: 0;
  padding: 0;
  font-family: "NotoSans semibold", Roboto, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  /* tablet screen */
}

@media (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}

/* yandex partner text */
.ya-partner-text {
  margin: 0;
  padding: 0;
  font-family: "NotoSans Light", Roboto, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  /* tablet screen */
}

@media (min-width: 768px) {
  .ya-partner-text {
    font-size: 14px;
  }
}

/* button syles */
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #f7c415;
  cursor: pointer;
  /* header button link styles */
}

.btn:hover {
  background-color: #e9bb1e;
}

.btn:disabled {
  background-color: #edd47c;
}

.btn__link {
  margin: 0;
  padding: 5px;
  font-family: "NotoSans", Roboto, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  color: #0c0c0d;
  text-decoration: none;
}

@media (min-width: 768px) {
  .btn__link {
    padding: 10px 15px;
    font-size: 14px;
  }
}

/* jumbotron section style*/
.jumbotron {
  background-color: #c6c6c6;
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 30vh;
  padding-top: 20px;
  padding-bottom: 20px;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .jumbotron__wrapper {
    min-height: 50vh;
  }
}

@media (min-width: 1150px) {
  .jumbotron__wrapper {
    min-height: 70vh;
  }
}

.jumbotron__text {
  margin: 0;
  margin-top: auto;
  padding: 0;
  font-family: "NotoSans semibold", Roboto, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .jumbotron__text {
    font-size: 48px;
  }
}

@media (min-width: 1150px) {
  .jumbotron__text {
    font-size: 58px;
  }
}

.jumbotron__yandex {
  display: block;
  margin-top: 10px;
  font-family: "NotoSans Light", Roboto, Helvetica, sans-serif;
  font-size: 20px;
  /* tablet screen*/
  /* desktop screen */
}

@media (min-width: 768px) {
  .jumbotron__yandex {
    font-size: 28px;
  }
}

@media (min-width: 1150px) {
  .jumbotron__yandex {
    font-size: 38px;
  }
}

.jumbotron__money {
  margin-top: auto;
  font-size: 16px;
  color: #ffffff;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .jumbotron__money {
    margin-bottom: 40px;
    font-size: 18px;
  }
}

@media (min-width: 1150px) {
  .jumbotron__money {
    margin-bottom: 60px;
    font-size: 25px;
  }
}

.jumbotron__rur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  font-family: "NotoSans semibold", Roboto, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #0c0c0d;
  border-radius: 50%;
  background-color: #f7c415;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .jumbotron__rur {
    width: 44px;
    height: 44px;
    font-size: 22px;
  }
}

@media (min-width: 1150px) {
  .jumbotron__rur {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
}

/* advantage section style */
.advantages {
  margin: 0;
}

.advantages__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  /* tablet screen */
}

@media (min-width: 768px) {
  .advantages__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "NotoSans semibold", Roboto, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .advantages__title {
    font-size: 20px;
  }
}

@media (min-width: 1150px) {
  .advantages__title {
    font-size: 24px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .advantages__item {
    width: 30%;
  }
}

@media (min-width: 1150px) {
  .advantages__item {
    width: 33%;
  }
}

.advantages__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .advantages__icon {
    width: 36px;
    height: 36px;
  }
}

@media (min-width: 1150px) {
  .advantages__icon {
    width: 48px;
    height: 48px;
  }
}

.advantages__icon--clock {
  background-image: url("../img/icons-clock.svg");
}

.advantages__icon--calendar {
  background-image: url("../img/icons-calendar.svg");
}

.advantages__icon--wallet {
  background-image: url("../img/icons-wallet.svg");
}

.advantages__text {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "NotoSans", Roboto, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .advantages__text {
    width: 220px;
    font-size: 16px;
  }
}

@media (min-width: 1150px) {
  .advantages__text {
    width: 300px;
    font-size: 20px;
  }
}

/* how to start section */
.how-to-start {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 70vh;
  margin: 0;
  padding: 0;
  color: #ffffff;
  overflow: hidden;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .how-to-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: auto;
  }
}

@media (min-width: 1150px) {
  .how-to-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.how-to-start__bg {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #0c0c0d;
  z-index: -1;
}

.how-to-start__col--1 {
  width: 100%;
  height: auto;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .how-to-start__col--1 {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 1150px) {
  .how-to-start__col--1 {
    width: 50%;
    height: auto;
  }
}

.how-to-start__col--2 {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  background-image: url("../img/hotToStart-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .how-to-start__col--2 {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 1150px) {
  .how-to-start__col--2 {
    width: 50%;
    height: auto;
  }
}

.how-to-start__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 16px;
  /* tablet screen*/
  /* desktop screen */
}

@media (min-width: 768px) {
  .how-to-start__wrapper {
    padding: 40px 0px;
  }
}

@media (min-width: 1150px) {
  .how-to-start__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0px;
  }
}

.how-to-start__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "NotoSans semibold", Roboto, Helvetica, sans-serif;
  font-size: 24px;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .how-to-start__title {
    margin-bottom: 30px;
    padding: 0;
    font-size: 24px;
  }
}

@media (min-width: 1150px) {
  .how-to-start__title {
    margin-bottom: 30px;
    padding: 0;
    font-size: 32px;
  }
}

.how-to-start__list {
  width: 100%;
  margin: 0;
  padding: 0;
  /* tablet screen */
}

@media (min-width: 768px) {
  .how-to-start__list {
    max-width: 50%;
  }
}

.how-to-start__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  /* tablet screen */
}

@media (min-width: 768px) {
  .how-to-start__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 25px;
  }
}

.how-to-start__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  font-family: "NotoSans", Roboto, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  border-radius: 50%;
  background-color: #f7c415;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .how-to-start__number {
    width: 36px;
    height: 36px;
    margin-bottom: 15px;
    font-size: 18px;
  }
}

@media (min-width: 1150px) {
  .how-to-start__number {
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
}

.how-to-start__text {
  width: 85%;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  color: inherit;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .how-to-start__text {
    margin: 0;
    font-size: 18px;
  }
}

@media (min-width: 1150px) {
  .how-to-start__text {
    font-size: 20px;
  }
}

/* submint section */
.submit {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 90vh;
  margin: 0;
  padding: 0;
  color: #0c0c0d;
  overflow: hidden;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .submit {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: auto;
  }
}

@media (min-width: 1150px) {
  .submit {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.submit__bg {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  z-index: -1;
}

.submit__col--1 {
  width: 100%;
  height: auto;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .submit__col--1 {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 1150px) {
  .submit__col--1 {
    width: 50%;
    height: auto;
  }
}

.submit__col--2 {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  background-image: url("../img/submit-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .submit__col--2 {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 1150px) {
  .submit__col--2 {
    width: 50%;
    height: auto;
  }
}

.submit__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 16px;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .submit__wrapper {
    width: auto;
    padding: 40px 0px;
  }
}

@media (min-width: 1150px) {
  .submit__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 60px 0px;
  }
}

.submit__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-family: "NotoSans semibold", Roboto, Helvetica, sans-serif;
  font-size: 24px;
}

.submit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  /* tablet screen */
}

@media (min-width: 768px) {
  .submit__list {
    width: 50%;
  }
}

.submit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 25px;
  /* tablet screen */
}

@media (min-width: 768px) {
  .submit__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.submit__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 100%;
  background-color: #f7c415;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .submit__number {
    width: 36px;
    height: 36px;
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
  }
}

@media (min-width: 1150px) {
  .submit__number {
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
}

.submit__text {
  width: 80%;
  /* tablet screen */
}

@media (min-width: 768px) {
  .submit__text {
    width: 95%;
  }
}

/* footer styles */
.footer {
  font-family: "NotoSans Light", Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.4px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__col--1, .footer__col--2 {
  width: 100%;
}

@media (min-width: 768px) {
  .footer__col--1, .footer__col--2 {
    width: 50%;
  }
}

.footer__col--2 {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .footer__col--2 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
}

.footer__ya-go {
  width: 130px;
  height: auto;
  margin: 0;
  margin-right: 10px;
  /* tablet sctreen */
}

@media (min-width: 768px) {
  .footer__ya-go {
    width: 150px;
    /* desktop screen */
  }
}

@media (min-width: 768px) and (min-width: 1150px) {
  .footer__ya-go {
    width: 200px;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .footer__logo {
    font-size: 18px;
  }
}

@media (min-width: 1150px) {
  .footer__logo {
    font-size: 20px;
  }
}

.footer__partner {
  font-size: 10px;
  /* tablet screen */
  /* desktop screen */
}

@media (min-width: 768px) {
  .footer__partner {
    font-size: 14px;
  }
}

@media (min-width: 1150px) {
  .footer__partner {
    font-size: 16px;
  }
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "NotoSans", Roboto, Helvetica, sans-serif;
}

.footer__phone-link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .footer__phone-link {
    font-size: 18px;
  }
}

@media (min-width: 1150px) {
  .footer__phone-link {
    font-size: 20px;
  }
}

.footer__phone-icon {
  width: 14px;
  height: 14px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__phone-icon {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 1150px) {
  .footer__phone-icon {
    width: 20px;
    height: 20px;
  }
}
/*# sourceMappingURL=style.css.map */