@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("NotoSans"),
       /* Если не получилось, загрузит woff2 */
       url("../fonts/Notosansdisplayregular.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("../fonts/Notosansdisplayregular.woff") format("woff"),
       url("../fonts/Notosansdisplayregular.ttf") format("ttf");
}

@font-face {
  font-family: "NotoSans Semibold";
  font-style: normal;
  font-weight: 600;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("NotoSans semibold"),
       /* Если не получилось, загрузит woff2 */
       url("../fonts/Notosansdisplaysemibold.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("../fonts/Notosansdisplaysemibold.woff") format("woff"),
       url("../fonts/Notosansdisplaysemibold.ttf") format("ttf");
}

@font-face {
  font-family: "NotoSans Light";
  font-style: normal;
  font-weight: 300;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("NotoSans CondensedLight"),
       /* Если не получилось, загрузит woff2 */
       url("../fonts/Notosansdisplaycondensedlight.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("../fonts/Notosansdisplaycondensedlight.woff") format("woff"),
       url("../fonts/Notosansdisplaycondensedlight.ttf") format("ttf");
}

/* primary color styles */
$primary-yellow: #f7c415;
$secondary-yellow: #e9bb1e;
$disabled-yellow: #edd47c;

/* text color styles */
$primary-text-color: #0c0c0d;
$secondary-text-color: #ffffff;

/* fonts set */
$font-stack-regular: 'NotoSans', Roboto, Helvetica, sans-serif;
$font-stack-light: 'NotoSans Light', Roboto, Helvetica, sans-serif;
$font-stack-semibold: 'NotoSans semibold', Roboto, Helvetica, sans-serif;

$width-small: 320px;
$width-small-max: 767px;
$width-medium: 768px;
$width-large: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

.page {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-stack-regular;
  font-size: 16px;
  line-height: 1;
  color: $primary-text-color;

  /* tablet screen */
  @media (min-width: $width-medium) {
    font-size: 18px;
  }

  /* desktop screen */
  @media (min-width: $width-large) {
    font-size: 20px;
  }
}

ul {
  list-style: none;
}

h1, h2, h3,
h4, h5, h6,
p, ul, li {
  margin: 0;
  padding: 0;
}

.layout-positioner {
  width: 100%;
  margin: 0;
  padding: 0 16px;

  @media (min-width: $width-medium) {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $width-large) {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
  }
}

.header {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-family: $font-stack-regular;

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: stretch;
  }

  &__phone-link {
    margin: 0;
    padding: 0;
    font-family: $font-stack-regular;
    font-size: 16px;
    line-height: 1;
    color: inherit;
    text-decoration: none;

    /* tablet screen */
    @media (min-width: $width-medium) {
      font-size: 18px;
    }
    
    /* desktop screen */
    @media (min-width: $width-large) {
      font-size: 20px;
    }
  }
}

/* title styles */

.title {
  margin: 0;
  padding: 0;
  font-family: $font-stack-semibold;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;

  /* tablet screen */
  @media (min-width: $width-medium) {
    font-size: 24px;
  }
}

/* yandex partner text */
.ya-partner-text {
  margin: 0;
  padding: 0;
  font-family: $font-stack-light;
  font-size: 10px;
  font-weight: 300;
  line-height: 1;

  /* tablet screen */
  @media (min-width: $width-medium) {
    font-size: 14px;
  }  
}

/* button syles */
.btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: $primary-yellow;
  cursor: pointer;

  &:hover {
    background-color: $secondary-yellow;
  }

  &:disabled {
    background-color: $disabled-yellow;
  }

  /* header button link styles */
  &__link {
    margin: 0;
    padding: 5px;
    font-family: $font-stack-regular;
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    color: $primary-text-color;
    text-decoration: none;

    @media (min-width: $width-medium) {
      padding: 10px 15px;
      font-size: 14px;
    }
  }
}

/* jumbotron section style*/
.jumbotron {
  background-color: #c6c6c6;
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    min-height: 30vh;
    padding-top: 20px;
    padding-bottom: 20px;

    /* tablet screen */
    @media (min-width: $width-medium) {
      min-height: 50vh;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      min-height: 70vh;
    }
  }

  &__text {
    margin: 0;
    margin-top: auto;
    padding: 0;
    font-family: $font-stack-semibold;
    font-size: 24px;
    line-height: 1;
    color: $secondary-text-color;
    
    /* tablet screen */
    @media (min-width: $width-medium) {
      font-size: 48px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      font-size: 58px;
    }
  }

  &__yandex {
    display: block;
    margin-top: 10px;
    font-family: $font-stack-light;
    font-size: 20px;

    /* tablet screen*/
    @media (min-width: $width-medium) {
      font-size: 28px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      font-size: 38px;
    }
  }

  &__money {
    margin-top: auto;
    font-size: 16px;
    color: $secondary-text-color;

    /* tablet screen */
    @media (min-width: $width-medium) {
      margin-bottom: 40px;
      font-size: 18px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      margin-bottom: 60px;
      font-size: 25px;
    }
  }

  &__rur {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-family: $font-stack-semibold;
    font-size: 16px;
    text-align: center;
    color: $primary-text-color;
    border-radius: 50%;
    background-color: $primary-yellow;

    /* tablet screen */
    @media (min-width: $width-medium) {
      width: 44px;
      height: 44px;
      font-size: 22px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      width: 50px;
      height: 50px;
      font-size: 25px;
    }
  }
}

/* advantage section style */
.advantages {
  margin: 0;

  &__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    /* tablet screen */
    @media (min-width: $width-medium) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: $font-stack-semibold;
    font-size: 18px;
    line-height: 1;

    /* tablet screen */
    @media (min-width: $width-medium) {
      font-size: 20px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      font-size: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    /* tablet screen */
    @media (min-width: $width-medium) {
      width: 30%;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      width: 33%;
    }
  }

  &__icon {
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    
    /* tablet screen */
    @media (min-width: $width-medium) {
      width: 36px;
      height: 36px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      width: 48px;
      height: 48px;
    }
    
    &--clock {
      background-image: url("../img/icons-clock.svg");
    }

    &--calendar {
      background-image: url("../img/icons-calendar.svg");
    }

    &--wallet {
      background-image: url("../img/icons-wallet.svg");
    }
  }

  &__text {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-stack-regular;
    font-size: 14px;
    line-height: 1;

    /* tablet screen */
    @media (min-width: $width-medium) {
      width: 220px;
      font-size: 16px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      width: 300px;
      font-size: 20px;
    }
  }
}

/* how to start section */
.how-to-start {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 70vh;
  margin: 0;
  padding: 0;
  color: $secondary-text-color;
  overflow: hidden;
    
  /* tablet screen */
  @media (min-width: $width-medium) {
    align-items: flex-start;
    justify-content: flex-start;
    min-height: auto;
  }

  /* desktop screen */
  @media (min-width: $width-large) {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: $primary-text-color;
    z-index: -1;
  }

  &__col {

    &--1 {
      width: 100%;
      height: auto;

      /* tablet screen */
      @media (min-width: $width-medium) {
        width: 50%;
        height: auto;
      }

      /* desktop screen */
      @media (min-width: $width-large) {
        width: 50%;
        height: auto;
      }
    }

    &--2 {
      content: "";
      display: block;
      width: 100%;
      height: auto;
      background-image: url("../img/hotToStart-2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      /* tablet screen */
      @media (min-width: $width-medium) {
        width: 50%;
        height: auto;
      }

      /* desktop screen */
      @media (min-width: $width-large) {
        width: 50%;
        height: auto;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 16px;
    
    /* tablet screen*/
    @media (min-width: $width-medium) {
      padding: 40px 0px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      display: flex;
      flex-direction: column;
      padding: 60px 0px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: $font-stack-semibold;
    font-size: 24px;

    /* tablet screen */
    @media (min-width: $width-medium) {
      margin-bottom: 30px;
      padding: 0;
      font-size: 24px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      margin-bottom: 30px;
      padding: 0;
      font-size: 32px;
    }
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;

    /* tablet screen */
    @media (min-width: $width-medium) {
      max-width: 50%;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    /* tablet screen */
    @media (min-width: $width-medium) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 25px;
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-family: $font-stack-regular;
    font-size: 14px;
    line-height: 1;
    border-radius: 50%;
    background-color: $primary-yellow;

    /* tablet screen */
    @media (min-width: $width-medium) {
      width: 36px;
      height: 36px;
      margin-bottom: 15px;
      font-size: 18px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      width: 48px;
      height: 48px;
      font-size: 20px;
    }
  }

  &__text {
    width: 85%;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    color: inherit;
  
    /* tablet screen */
    @media (min-width: $width-medium) {
      margin: 0;
      font-size: 18px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      font-size: 20px;
    }
  }
}

/* submint section */
.submit {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 90vh;
  margin: 0;
  padding: 0;
  color: $primary-text-color;
  overflow: hidden;
    
  /* tablet screen */
  @media (min-width: $width-medium) {
    align-items: flex-start;
    justify-content: flex-start;
    min-height: auto;
  }

  /* desktop screen */
  @media (min-width: $width-large) {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    z-index: -1;
  }

  &__col {

    &--1 {
      width: 100%;
      height: auto;

      /* tablet screen */
      @media (min-width: $width-medium) {
        width: 50%;
        height: auto;
      }

      /* desktop screen */
      @media (min-width: $width-large) {
        width: 50%;
        height: auto;
      }
    }

    &--2 {
      content: "";
      display: block;
      width: 100%;
      height: auto;
      background-image: url("../img/submit-2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      /* tablet screen */
      @media (min-width: $width-medium) {
        width: 50%;
        height: auto;
      }

      /* desktop screen */
      @media (min-width: $width-large) {
        width: 50%;
        height: auto;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 16px;
    
    /* tablet screen */
    @media (min-width: $width-medium) {
      width: auto;
      padding: 40px 0px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 60px 0px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    font-family: $font-stack-semibold;
    font-size: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    /* tablet screen */
    @media (min-width: $width-medium) {
      width: 50%;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 25px;

    /* tablet screen */
    @media (min-width: $width-medium) {
      flex-direction: column;
    }
  }

  &__number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 16px;
    color: $secondary-text-color;
    border-radius: 100%;
    background-color: $primary-yellow;

    /* tablet screen */
    @media (min-width: $width-medium) {
      width: 36px;
      height: 36px;
      margin: 0;
      margin-bottom: 15px;
      font-size: 18px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      width: 48px;
      height: 48px;
      font-size: 20px;
    }
  }

  &__text {
    width: 80%;

    /* tablet screen */
    @media (min-width: $width-medium) {
      width: 95%;
    }
  }
}


/* footer styles */
.footer {
  font-family: $font-stack-light;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.4px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 0;
  }

  &__col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    &--1, 
    &--2 {
      width: 100%;

      @media (min-width: $width-medium) {
        width: 50%;
      }
    }

    &--2 {
      margin-top: 10px;

      @media (min-width: $width-medium) {
        justify-content: flex-end;
        margin: 0;
      }
    }
  }

  &__ya-go {
    width: 130px;
    height: auto;
    margin: 0;
    margin-right: 10px;

    /* tablet sctreen */
    @media (min-width: $width-medium) {
      width: 150px;

      /* desktop screen */
      @media (min-width: $width-large) {
        width: 200px;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 14px;

    /* tablet screen */
    @media (min-width: $width-medium) {
      font-size: 18px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      font-size: 20px;
    }
  }

  &__partner {
    font-size: 10px;

    /* tablet screen */
    @media (min-width: $width-medium) {
      font-size: 14px;
    }

    /* desktop screen */
    @media (min-width: $width-large) {
      font-size: 16px;
    }
  }

  &__phone {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: $font-stack-regular;
  }

  &__phone-link {
    text-decoration: none;
    color: inherit;

    @media (min-width: $width-medium) {
      font-size: 18px;
    }

    @media (min-width: $width-large) {
      font-size: 20px;
    }
  }

  &__phone-icon {
    width: 14px;
    height: 14px;
    margin: 0;
    margin-right: 5px;
    padding: 0;

    @media (min-width: $width-medium) {
      width: 18px;
      height: 18px;
    }

    @media (min-width: $width-large) {
      width: 20px;
      height: 20px;
    }
  }
} 
